[Unit]
Description=Service Adaptor daemon
After=dbus.socket dbus.service
Requires=dbus.socket

[Service]
Type=simple
BusName=org.tizen.serviceadaptor.client
ExecStart=/usr/bin/service-adaptor-server
Restart=none
RestartSec=0

[Install]
WantedBy=default.target
