[Unit]
Description=Service Adaptor daemon

[Service]
Type=dbus
BusName=org.tizen.serviceadaptor.client
ExecStart=/usr/bin/service-adaptor-server
Restart=none
RestartSec=0

[Install]
WantedBy=default.target
